@page "/AccountManagement"
@rendermode InteractiveServer
@inject JAuth JAuth

@code {
    private string? FirstName { get; set; }
    private string? LastName { get; set; }
    private string? Username { get; set; }
    private string? Password { get; set; }

    private bool isAuthorized;

    protected override async Task OnInitializedAsync()
    {
        isAuthorized = JAuth.IsAuthorised();

        if (isAuthorized)
        {
            JAuth.EnforceAuth();
        }
    }

    private async Task UpdateProfile()
    {
        //TODO:THIS
        // make a function in the database so its possible to update details
        // await new UserAPI("http://localhost:5189").
    }


}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit Profile</h3>
                </div>
                @if (isAuthorized)
                {
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" @bind-value="FirstName">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" @bind-value="LastName">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username" @bind-value="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password" @bind-value="Password">
                            </div>
                            <div class="d-grid">
                                <button type="button" class="btn btn-primary" @onclick="UpdateProfile">Update Profile</button>
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <p>You are not authorized to view this page. Please log in.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
