/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* MAIN PAGE */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    background: linear-gradient(135deg, #74ABE2 0%, #5563DE 100%);
    font-family: 'Lato', sans-serif;
}
.card-body {
    margin-top: -25px;
    width: 100%;
}

.first-label, .label-text {
    margin-bottom: 0.5rem;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.first-label {
    margin-top: 80px;
    color: #333;
}

.label-text {
    margin-top: 20px;
    color: #333;
}

.form-control, .form-select, textarea {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    height: 50px;
}

    .form-control:focus, .form-select:focus, textarea:focus {
        background-color: rgba(255, 255, 255, 0.25);
        border-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        outline: none;
    }

.btn-primary {
    background-color: #5563DE;
    border: none;
    color: #fff;
    width: 30%;
    display: block;
    margin: 40px auto 0;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover {
        background-color: #6C7AE0;
    }

.btn-outline-primary {
    border-color: #5563DE;
    color: #5563DE;
}

    .btn-outline-primary:hover {
        background-color: #5563DE;
        color: #4A4A4A;
    }

.create-feedback {
    position:relative;
    left:1vw;
    height:90vh;
    width:auto;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3vw;
    margin-top:4vh;
    backdrop-filter: blur(200px);
    border-radius: 12px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in;
}

    .card {
        border-radius: 0.5rem;
        background-color: var(--light-color);
        color: var(--light-text);
        border: none;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        margin: 1.5vw;
        padding: 2vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card-header {
        margin: 1vw;
        background-color: var(--secondary-color);
        border-bottom: 1px solid #e3e6f0;
        font-weight: 700;
        padding: 1rem 1.25rem;
        text-align: center;
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
    }

    h3 {
        position: relative;
        top: 3vh;
        left: 50%;
        transform: translateX(-50%);
        margin: 1vw;
        font-size: 2.5rem;
        font-weight: 700;
        color: #333333;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    /* FOR USERS NOT LOGGED IN */
    .loggedout {
        display: block;
    }

    .cone-img {
        display: block;
        margin: 100px auto 15px;
        height: auto;
        max-width: 70%;
    }

    .btn.btn-loggedout {
        background-color: #1B6EC2;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: block;
        margin: 50px auto 15px;
        width: auto;
        max-width: 350px;
    }

        .btn.btn-loggedout:hover {
            background-color: #0B5ED7;
        }

    h2 {
        text-align: center;
        margin: 0 auto 15px;
    }
