@page "/LogIn"
@inject NavigationManager NavigationManager
@inject JAuth JAuth

@code {
    private async Task Submit()
    {
        string JWT = await new UserAPI("http://localhost:5189").Authenticate(Username, Password);
        JAuth.Authorise(JWT, Username);
        NavigationManager.NavigateTo("/");
    }
    public string Username { get; set; }
    public string Password { get; set; }
}

@rendermode InteractiveServer

<!-- Image and header. Looks ok but alignment needs fixing -->
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; flex-direction: column;">
    <img src="Images/UniLogo.png" alt="University of Lincoln Logo" style="width: 150px; height: auto; margin-bottom: 10px;">
    <h3 class="text-center mb-4" style="font-family: 'Lato', sans-serif; color: #4A4A4A; margin-top: -10px;"> University of Lincoln TSE Feedback Tracking Tool! </h3>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header d-flex"> 
                        <button class="btn btn-primary flex-grow-1 me-2">Log In</button>
                        <button class="btn btn-outline-primary flex-grow-1" @onclick="SignupTab">Sign Up</button>
                    </div>
                    <div class="card-body">
                        <form @onsubmit="Submit">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="username" class="form-control" id="email"
                                       placeholder="Username" @bind-value="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="Password" @bind-value="Password">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .card {
        background-color: #EBF0F5;
        width: 100%;
        max-width: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
</style>

@code {
    private void SignupTab()
    {
        NavigationManager.NavigateTo("/SignUp");
    }
}
