@page "/LogIn"

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> <!--Card header for formatting -->
                    <h3 class="text-center">Log In</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
							<!-- Header and text box for username -->
							<label for="username" class="form-label">Username</label>
							<input type="username" class="form-control" id="email" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <!-- Header and text box for password -->
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="d-grid">
                            <!-- Login Button -->
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>