/* Animation */

@keyframes fadeAnimation {
from { 
    opacity: 0; 
}
to { 
    opacity: 1;
}}

.about-navbar {
    z-index: 9999;
}

/* Page Structure */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #74ABE2 0%, #5563DE 100%);
    font-family: 'Lato', sans-serif;
}

.login-section {
    display: flex;
    flex-grow:0.5;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    margin-left: 5vw;
    margin-top: 4vh;
    animation: fadeAnimation 1.2s ease-in;
}

.top-heading {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    text-align: center;
    font-size: 4vh;
    margin: 30px 0;
    letter-spacing: 1px;
}

.logo-icon {
    width: 10vw;
    height: auto;
    margin-right: 2vw;
}

.uni-logo {
    width: 25vw;
    margin-left: 5vw;
    height: auto;
    margin-top: 8vh;
    animation: fadeAnimation 1.2s ease-in;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width:80vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.btn-primary {
    background-color: #5563DE;
    border: none;
}

    .btn-primary:hover {
        background-color: #6C7AE0;
    }

.btn-outline-primary {
    border-color: #5563DE;
    color: #5563DE;
}

    .btn-outline-primary:hover {
        background-color: #5563DE;
        color: #fff;
    }

input.form-control {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: #4A4A4A;

}

    input.form-control::placeholder {
        color: #4A4A4A;
    }

    input.form-control:focus {
        background: rgba(255, 255, 255, 0.25);
        color: #4A4A4A;
    }

.info-section {
    text-align: center;
    padding: 5vw;
    backdrop-filter: blur(15px);
    border-radius: 1.2vh;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 5vh;
    animation: fadeAnimation 1.2s ease-in;
    margin-bottom: 8vh;
}

    .info-section:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }

.bright-title {
    color: #6a1b9a;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-image: linear-gradient(45deg, #ff8f00, #d500f9);
    -webkit-background-clip: text;
    color: transparent;
    padding: 3px 0;
}

.bottom-box-text {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .features-list li {
        color: #000000;
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

        .features-list li::before {
            content: "✔";
            position: absolute;
            left: 0;
            top: 0;
            color: #74ABE2;
            font-size: 18px;
            margin-left: -12px;
        }
