/* ANIMATION */

@keyframes animation {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}

/* PAGE STYLING */

.intro-msg {
    position: absolute;
    top: 45px;
    left: 285px;
    margin: 0;
    font-size: 3.2rem;
    font-weight: 700;
    color: #333333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.feedback-box {
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: fadeAnimation 1.2s ease-in;
    margin-bottom: 15px;
}


.bottom-prompt {
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(to bottom right, #f0f0f0, rgba(255, 0, 0, 0.11));
    animation: fadeAnimation 1.2s ease-in;
    margin-bottom: 15px;
}

.dash-container-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dashboard-box-topleft, .dashboard-box-topright {
    position: relative;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.05);
    animation: fadeAnimation 1.2s ease-in;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 100px;
}

.dashboard-box-topleft {
    background-color: rgba(255, 215, 0, 0.05);
    height: 140px;
    width: 38%
}
.dashboard-box-topleft:hover, .dashboard-box-topright:hover, .dashboard-box-leftcard:hover, .bottom-strip:hover, .create-tab:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.dashboard-box-topright {
    background-color: rgba(0, 128, 128, 0.05);
    height: 320px;
    width: 62%
}


.bottom-strip, .create-tab, .dashboard-box-leftcard {
    position: relative;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.05);
    animation: fadeAnimation 1.2s ease-in;
    margin-bottom: -75px;
    padding: 100px;
}

.dashboard-box-leftcard {
    background-color: rgba(144, 238, 144, 0.05);
    top: -120px;
    width: 38%;
    padding: 148px;
}

.bottom-strip {
    background-color: rgba(128, 0, 128, 0.05);
    height: 120px;
    width: 36%
}

.create-tab {
    background-color: rgba(255, 0, 0, 0.20);
    height: 200px;
    width: 25%;
    padding: 40px;
}

h2 {
    margin-top: 60px;
    margin-left: 7px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    color: #2E4053;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: -2px;
}

h6 {
    margin-bottom: 15px;
    margin-left: 5px;
}

h3{
    margin-left: 4px;
}

p2 {
    position: relative;
}