@page "/ResetPassword"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@using Application.API
@inject EmailAPI EmailClientAccess


<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; flex-direction: column;">
    <img src="Images/UniLogo.png" alt="University of Lincoln Logo" style="width: 150px; height: auto; margin-bottom: 10px;">
    <h3 class="text-center mb-4" style="font-family: 'Lato', sans-serif; color: #4A4A4A; margin-top: -10px;"> University of Lincoln TSE Feedback Tracking Tool! </h3>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header d-flex">
                        <button class="btn btn-outline-primary flex-grow-1 me-2" @onclick="LoginTab">Log In</button>
                        <button class="btn btn-outline-primary flex-grow-1" @onclick="SignupTab">Sign Up</button>
                    </div>
                    <div class="card-body">
                        <form @onsubmit="Submit">
                            <!-- First name header and text box-->
                            <div class="mb-3">
                                <!-- Username header and text box-->
                                <div style="text-align: center;">
                                    <label class="form-label">Please enter your email address. An email will be sent to you where you can reset your password</label>
                                </div>
                                <input type="text" class="form-control" id="emailaddress" placeholder="Enter Email Address" @bind-value="email">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    }

    .card {
    background-color: #EBF0F5;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }
</style>


@code {

    private string? email { get; set; }

    private bool _emailSent;

    private void LoginTab()
    {
        NavigationManager.NavigateTo("/LogIn");
    }

    private void SignupTab()
    {
        NavigationManager.NavigateTo("/SignUp");
    }

    private async void Submit()
    {
        _emailSent = await EmailClientAccess.SendEmail(email);
        if (_emailSent)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Email Sent.");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Email was not sent. " +
                                                     "Please check you are using a valid and registered email address.");
        }
    }
}
