@page "/settings"
@rendermode InteractiveServer
@inject JAuth JAuth
@using Application.API
@using FeedbackTrackerCommon.Definitions


<title>TSE Feedback: Settings </title>
<div class="settings">
    <h3>Settings</h3>
    <button type="button" @onclick="Click2FA" disabled="@isDisabled">@MFAButtonText</button>
</div>



@code {
    public bool isDisabled = false;
    private string MFAButtonText = "Enable 2fa";
    public async void Click2FA()
    {

        if (JAuth.User.MFASecret != null)
        {
            MFAButtonText = "2FA Enabled, your code is: " + JAuth.User.MFASecret;
            isDisabled = true;

        }
        else
        {
            MFAButtonText = "Enable2FA";
            isDisabled = true;

            UserAPI API = new UserAPI("http://localhost:7128/");
            await API.Enable2FA(JAuth.User.UserID.ToString(), JAuth.User.Password);
            
            
        }
    }
}


