@page "/settings"
@rendermode InteractiveServer
@inject JAuth JAuth
@using Application.API
@using FeedbackTrackerCommon.Definitions

@*

The 2FA Code was making the browser crash. Commented it but it's still there. Commented the button and replaced with dummy button until the 2FA works

*@

@if (!showAccountScreen)
{
    <div class="settings">
        <h3>Settings</h3>
        <div class="settings-container">
            <!-- Left side: Categories -->
            <div class="categories">
                <ul>
                    <li>General</li>
                    <li>Privacy</li>
                    <li>Notifications</li>
                    <li @onclick="OnAccountClick">Account</li>
                </ul>
            </div>

            <!-- Right Side: Options -->
            <div class="options">
                <div class="option">
                    <button type="submit" class="sett btn-primary" style="width: 30%;" aria-label="2FA">2FA</button>
                    <!--<h4><button type="button" @onclick="Click2FA" disabled="@isDisabled">@MFAButtonText</button></h4>-->
                    <label for="first-option">Example Setting</label>
                    <select id="first-option">
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Username { get; set; }
    public string Password { get; set; }

    private bool isAuthorized;

    protected override async Task OnInitializedAsync()
    {
        isAuthorized = JAuth.IsAuthorised();

        if (isAuthorized)
        {
            JAuth.EnforceAuth();
        }
    }

    private async Task UpdateProfile()
    {
        // make a function in the database so its possible to update details
        // await new UserAPI("http://localhost:5189").
    }


}



@if (showAccountScreen)
{
    <div class="container mt-5">
        <button @onclick="CloseScreen">Go Back</button>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Edit Profile</h5>
                    </div>
                    @if (isAuthorized)
                    {
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" @bind-value="FirstName">
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" @bind-value="LastName">
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter Username" @bind-value="Username">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter Password" @bind-value="Password">
                                </div>
                                <div class="d-grid">
                                    <button type="button" class="btn btn-primary" @onclick="UpdateProfile">Update Profile</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <p>You are not authorized to view this page. Please log in.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


@code {
    private bool showAccountScreen = false;

    private void OnAccountClick()
    {
        showAccountScreen = true;
    }
    private void CloseScreen()
    {
        showAccountScreen = false;
    }
}
@*

@code {
    public bool isDisabled = false;
    private string MFAButtonText = "Enable 2fa";
    public async void Click2FA()
    {
        UserAPI API = new UserAPI();
        await API.Enable2FA(JAuth.User.UserID.ToString(), JAuth.User.Password);
        JAuth.User = await API.GetUserByID(JAuth.User.UserID);
        isDisabled = true;
        MFAButtonText = "2FA Enabled, your code is: " + JAuth.User.MFASecret;

    }

        
    protected override async Task OnInitializedAsync()
    {
        if (JAuth.User.MFASecret != null)
        {
            MFAButtonText = "2FA Enabled, your code is: " + JAuth.User.MFASecret;
            isDisabled = true;

        }
    }
}
*@


