@page "/Unauthorised"

<h3>You must be logged in to view this page</h3>
<div>
	<NavLink class="btn btn-primary mb-2 w-100" href="/LogIn">Log In</NavLink>
	<NavLink class="btn btn-primary w-100" href="/SignUp">Sign Up</NavLink>
</div>


