@page "/VerifyPasswordChange"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@using Application.API
@inject EmailAPI EmailClientAccess

<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; flex-direction: column;">
    <img src="Images/UniLogo.png" alt="University of Lincoln Logo" style="width: 150px; height: auto; margin-bottom: 10px;">
    <h3 class="text-center mb-4" style="font-family: 'Lato', sans-serif; color: #4A4A4A; margin-top: -10px;"> University of Lincoln TSE Feedback Tracking Tool! </h3>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form @onsubmit="Submit">
                            <!-- First name header and text box-->
                            <div class="mb-3">
                                <!-- Username header and text box-->
                                <center><label for="password" class="form-label">Please enter the password you wish to use</label></center>
                                <input type="text" class="form-control" id="password" placeholder="Enter Password" @bind-value="password">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    }

    .card {
    background-color: #EBF0F5;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }
</style>

@code {
    public string password { get; set; }

    private async void Submit()
    {
    }
}
