@page "/about"
<title>TSE Feedback: About </title>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>About</h3>
                </div>
                <div class="card-body">
                    <p>Welcome to our Feedback Tracking Tool!</p>
                    <p>
                        This is a University of Lincoln Computer Science Team Software Engineering Project.
                    </p>

                    <hr />

                    <h5>Project Requirements:</h5>
                    <p>
                        A feedback tracking tool in the style of, and with similar features to, a bug tracking system.
                        A bug tracking system is a software application that keeps track of reported software bugs in
                        software development projects. It could also be thought of as a type of issue tracking system. The
                        project here, is to create a feedback tracking tool to allow students to monitor the progress of their
                        feedback about for example a module, a particular lecture, a programme or the School in general - as
                        well as for staff to respond to and update the progress of the individual feedback items.
                        So, each feedback ‘issue’ could be assigned a unique ID, tags related to its progress, its content or to
                        what it refers, allow for comments to be made from both sides, allow the ‘closing’ of a feedback
                        issue with labels such as ‘closed’, ‘resolved’ unresolved’ etc.
                        Also, the time taken to resolve an issue – maybe in days(?), and also the average time for issues to be
                        resolved could be shown.
                    </p>

                    <hr />

                    <h5>Students:</h5>
                    <p>Fin O'Brien - 28604053</p>
                    <p>Jake Shaw - 28043494</p>
                    <p>Joshua Lee - 27563496</p>
                    <p>Kuba Skrzypczynski - 26541323</p>
                    <p>Matthew Page - 27608054</p>
                    <p>William Inkpin - 28072184</p>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
</style>

