@page "/privacypolicy"
<title>TSE Feedback: Privacy Policy </title>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Privacy Policy</h3>
                </div>
                <div class="card-body">
                    <p>Your Privacy is Our Priority</p>
                    <p>This is a University of Lincoln Computer Science Team Software Engineering Project</p>
                    <hr />
                    <p>
                        We respect your privacy and are committed to protecting your personal information. This policy explains how we collect, use, and store your data.
                    </p>
                    <hr />
                    <h5 class="about-headings">Information Collected:</h5>
                    <p>We collect usernames and passwords for authentication. All feedback is securely stored in our database.</p>
                    <h5 class="about-headings">Data Use:</h5>
                    <p>Your information is used for feedback tracking and user access. Data is not shared with third parties.</p>
                    <h5 class="about-headings">User Rights:</h5>
                    <p>You can request the deletion of your data at any time by contacting the development team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
