@page "/termsofservice"
<title>TSE Feedback: Terms of Service </title>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Terms of Service</h3>
                </div>
                <div class="card-body">
                    <p>By using our tool, you agree to comply with the following Terms of Service.</p>
                    <hr />

                    <h5>Using the Tool:</h5>
                    <p>
                        This tool is for educational purposes. Use it responsibly. Do not interfere with its functionality or with other users.
                    </p>

                    <h5>Accounts:</h5>
                    <p>
                        You are responsible for keeping your login credentials confidential. Activities under your account are your responsibility.
                        Notify the development team of unauthorized access. Use a strong password.
                    </p>

                    <h5>Data Collection:</h5>
                    <p>
                        By using this tool, you agree to the data collection practices outlined in our privacy policy.
                    </p>

                    <h5>Liabilities:</h5>
                    <p>
                        We are not liable for damages, losses, or consequences from using this tool. Use it at your own risk.
                        Terms may be modified at any time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
