@page "/termsofservice"
<title>TSE Feedback: Terms of Service </title>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Terms of Service</h3>
                </div>
                <div class="card-body">
                    <p>By using our tool, you agree to comply with the following Terms of Service.</p>
                    <hr />

                    <h5 class="about-headings">Using the Tool:</h5>
                    <p>
                        This tool is for educational purposes. Use it responsibly. Do not interfere with its functionality or with other users.
                    </p>

                    <h5 class="about-headings">Accounts:</h5>
                    <p>
                        You are responsible for keeping your login credentials confidential. Activities under your account are your responsibility.
                        Notify the development team of unauthorized access. Use a strong password.
                    </p>

                    <h5 class="about-headings">Data Collection:</h5>
                    <p>
                        By using this tool, you agree to the data collection practices outlined in our privacy policy.
                    </p>

                    <h5 class="about-headings">Liabilities:</h5>
                    <p>
                        We are not liable for damages, losses, or consequences from using this tool. Use it at your own risk.
                        Terms may be modified at any time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
