@page "/termsofservice"

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <div class="card-header">
                    <!--Card header for formatting -->
                    <h3>Terms of Service</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            By using our tool, you agree to comply with the following Terms of Service.
                        </p>
                        <div style="border-bottom: 1px solid black; width: 80%; margin: 20px auto;"></div>

                        <b>Using the tool:</b> <p></p>
                        <p>
                            This tool is for educational purposes. You must use the tool responsibly. You must not interfere with the functionality of the tool, or the users.
                        </p>

                        <b>Accounts:</b> <p></p>
                        <p>
                            You are responsible for the confidentiality of your login credentials. Anything performed under your account is your responsibility. Please notify
                            the development team if you suspect unauthorised access to your account. Please use a strong password.
                        </p>

                        <b>Data Collection:</b> <p></p>
                        <p>
                            By using this tool, you agree to the collection of your data as outlined in our privacy policy.
                        </p>

                        <b>Liabilities:</b> <p></p>
                        <p>
                            We are not responsible for any damages, loss or consequences resulting from the use of this tool. Your use of this tool is at your own risk.
                            We have the right to modify these terms at any time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background-color: #EBF0F5;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
</style>

