/* COLOURS */

main {
    flex: 1;
    background: linear-gradient(to bottom right, #f0f0f0, #d0e1f9);
}

    main.blue {
        background: linear-gradient(to bottom right, #f0f0f0, #d0e1f9);
    }

    main.red {
        background: linear-gradient(to bottom right, #f0f0f0, #f1a7a7);
    }

    main.green {
        background: linear-gradient(to bottom right, #f0f0f0, #a7f1a7);
    }



