@page "/StatusCode/404"

<div class="card">
	<div class="card-header">
		<h1 class="text-center">ERROR:</h1>
	</div>
	<div class="card-body">
		<div class="mb-3">
			<p class="card-text text-center"> 404 error : page not found</p>
		</div>
		
	</div>
	
</div>

@code {

}
